body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f8ff;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #333;
  font-family: 楷体;
}

p {
  text-align: center;
  text-indent: 2em;
  color: #333333;
  font-family: 楷体;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

ruby {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #666666;
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 3px;
}

rt {
  font-style: italic;
}

b {
  font-size: 18px;
  color: #0066cc;
}

.section-separator {
  width: 80%;
  height: 1px;
  background-color: #cccccc;
  margin: 20px auto;
}

mark {
  background-color: #ffff99;
  padding: 2px 5px;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 1s ease;
}

.page:not(:first-child) {
  transform: translateX(100%);
}

.page.active {
  transform: translateX(0);
  z-index: 1;
}

.page.hide {
  transform: translateX(-100%);
  z-index: 0;
}
